Source: fonts-noto
Section: fonts
Priority: extra
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.google.com/get/noto/

Package: fonts-noto-sans-regular
Architecture: all
Depends: ${misc:Depends}
Description: Multi-purpose font with broad language support
 The Noto family of fonts aims to support all of the world's languages
 with a consistency of visual design.
 .
 This package provides the sans-serif families with regular weights.

Package: fonts-noto-sans
Architecture: all
Depends: fonts-noto-sans-regular (=${source:Version}), ${misc:Depends}
Description: Multi-purpose font with broad language support
 The Noto family of fonts aims to support all of the world's languages
 with a consistency of visual design.
 .
 This package provides the sans-serif families.
